/*
 *
 * основная панель
 *
 */
.mainPane {
    -fx-background-color: rgba(32,39,46,0.97);
}
.scroll-bar:horizontal, .scroll-bar:vertical{
    -fx-background-color: transparent;
}
.table-view:focused, .tree-view:focused {
    -fx-background-insets: 0, 1;
    -fx-padding: 1;
}
/* логотип */
.logo {
    -fx-image:url("/icons/appIcon.png");
}
/* имя приложения */
.appName-label {
    -fx-font-size: 12px;
    -fx-font-weight: bolder;
    -fx-text-fill: white;
}
/*
 * кнопочки управления окном
 */
.button {
    -fx-background-color: null;
    -fx-background-position: center center;
    -fx-background-repeat: no-repeat; 
    -fx-background-radius: 0;
}
/* закрыть */
.btnClose{   
    -fx-background-image: url("/icons/close.png");    
}
.btnClose:hover {
    -fx-background-color: #31393f;
}
/* изменение размеров окна */
.btnResize{   
    -fx-background-image: url("/icons/resize.png");    
}
.btnResize:hover {
    -fx-background-color: #31393f;
}
/* изменение состояния окна */
.btnHide{   
    -fx-background-image: url("/icons/hide.png");    
}
.btnHide:hover {
    -fx-background-color: #31393f;
}
/*
 *
 * контент
 *
 */
/*
 * меню юыстрого доступа
 */
.quickMenuPane {
    -fx-background-color: rgb(95,107,112), rgb(121,134,140);
    -fx-background-insets: 0, 0 0 1 0; 
    -fx-padding: 3 0 3.5 3;
}
.quickMenuPane .button {
    -fx-text-fill: #2c3136;
    -fx-background-insets: 0;
    -fx-padding: 3 15 3 15;
}
.quickMenuPane .button:hover {
    -fx-background-color: rgb(72,80,84), rgb(147,158,163);
    -fx-background-insets: 0, 1;
    -fx-background-radius: 2, 2;
}
.quickMenuPaneCenter {
    -fx-alignment: center;
}
.quickMenuPaneCenter .label{
    -fx-padding: 3 0 3 0;
    -fx-text-fill: rgb(147,158,163);
}
/*
 * кнопочки перемещения по директориям
 */
.btnBack, .btnNext {
    -fx-padding: 15 0 0 0;
} 
.btnBack:disabled, .btnNext:disabled {
    -fx-opacity: 0.3;
}
/* назад */
.btnBack {
    -fx-background-image: url("/icons/back-icon.png");  
}
/* вперед */
.btnNext {
    -fx-background-image: url("/icons/next-icon.png");  
}
/*
 * отоброжение пути текущей директории
 */
.pathPane {
    -fx-background-color: rgb(126,135,142);
    -fx-padding: 3 0 0 3;
}
.pathTextField {
    -fx-background-color: transparent;
    -fx-text-fill: #191e24; 
    -fx-font-size: 13;
    -fx-padding: 0 0 3 0;
    -fx-highlight-fill: #707c87;
    -fx-highlight-text-fill: #191e24;
}
/*
 * дерево файловой системы
 */
.tree-view, .tree-cell {
    -fx-background-color: rgb(126,135,142);
    -fx-text-fill: #191e24; 
}
.tree-cell > .tree-disclosure-node > .arrow  {
    -fx-background-color: #191e24;
}
.tree-cell > .tree-disclosure-node {
    -fx-cursor: default;
}
.tree-cell:selected {
    -fx-background-color: rgba(81,90,97,0.4), rgba(81,90,97,0.7), rgba(81,90,97,0.7);
    -fx-background-insets: 0, 21 0 0 0, 0 0 21 0; 
}
.cellHover {
    -fx-background-color: rgba(81,90,97,0.4), rgba(81,90,97,0.4);
    -fx-background-insets: 22 0 0 0, 0 0 22 0;  
}
/*
 * таблица файловой системы
 */
.table-view, .table-view .filler {
    -fx-background-color: rgb(126,135,142);
}
.column-header {
    -fx-background-color: rgb(126,135,142);
    -fx-background-insets: -1; 
}
.table-view .column-header .label {
    -fx-background-color: rgb(126,135,142);
    -fx-text-fill: #435061;
    -fx-alignment: CENTER_LEFT;
    -fx-font-weight: normal;
}
.table-view .table-cell{
    -fx-alignment: CENTER-LEFT;
    -fx-padding: 0 0 0 1;
}
.table-row-cell {
    -fx-background-color: rgb(126,135,142);
    -fx-cell-size: 22px;
    -fx-table-cell-border-color: transparent;
}
.table-row-cell:selected {
    -fx-background-color: #707c87;
}
.table-view *.scroll-bar:horizontal *.increment-button,
.table-view *.scroll-bar:horizontal *.decrement-button,
.table-view *.scroll-bar:horizontal *.increment-arrow, 
.table-view *.scroll-bar:horizontal *.decrement-arrow, 
.table-view *.scroll-bar:horizontal,
.table-view *.scroll-bar:horizontal *.track,
.table-view *.scroll-bar:horizontal *.track-background {
    -fx-opacity: 0;
    -fx-padding:-7;
}
/* контекстное меню */
.context-menu {
    -fx-background-color: #191e24;
}
.menu-item .label {
    -fx-text-fill: whitesmoke;
    -fx-padding: 1 5 1 24;
}
.menu-item:focused {
    -fx-background-color: #d13b1e;
}
/*
 *
 * диалоговое окно с ошибкой
 *
 */
.errorPane {
    -fx-background-color: rgb(126,135,142);
    -fx-alignment: center-left;
    -fx-padding: 0 15 0 15;
}
.errorLabel {
    -fx-text-fill: #191e24; 
    -fx-font-size: 13;
}